<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dg_basicboxtimer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BBTimer"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DG_BasicBoxTimer">
        <activity android:name=".SelectPresetActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PresetListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CreatePresetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BoxingRoundTimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>